$MontserratLight: "MontserratLight";
$MontserratBold: "MontserratBold";
$MontserratRegular: "MontserratRegular";
$MontserratMedium: "MontserratMedium";
$MontserratThin: "MontserratThin";
$MontserratBlack: "MontserratBlack";
$MontserratSemiBold: "MontserratSemiBold";
$MontserratExtraBold: "MontserratExtraBold";
$MontserratExtraLight: "MontserratExtraLight";

@font-face {
  font-family: "MontserratLight";
  src: url("../fonts/MontserratLight/MontserratLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MontserratLight/MontserratLight.woff") format("woff"),
    url("../fonts/MontserratLight/MontserratLight.ttf") format("truetype"),
    url("../fonts/MontserratLight/MontserratLight.svg#MontserratLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratBold";
  src: url("../fonts/MontserratBold/MontserratBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MontserratBold/MontserratBold.woff") format("woff"),
    url("../fonts/MontserratBold/MontserratBold.ttf") format("truetype"),
    url("../fonts/MontserratBold/MontserratBold.svg#MontserratBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratRegular";
  src: url("../fonts/MontserratRegular/MontserratRegular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MontserratRegular/MontserratRegular.woff") format("woff"),
    url("../fonts/MontserratRegular/MontserratRegular.ttf") format("truetype"),
    url("../fonts/MontserratRegular/MontserratRegular.svg#MontserratRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../fonts/MontserratMedium/MontserratMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MontserratMedium/MontserratMedium.woff") format("woff"),
    url("../fonts/MontserratMedium/MontserratMedium.ttf") format("truetype"),
    url("../fonts/MontserratMedium/MontserratMedium.svg#MontserratMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratThin";
  src: url("../fonts/MontserratThin/MontserratThin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MontserratThin/MontserratThin.woff") format("woff"),
    url("../fonts/MontserratThin/MontserratThin.ttf") format("truetype"),
    url("../fonts/MontserratThin/MontserratThin.svg#MontserratThin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratBlack";
  src: url("../fonts/MontserratBlack/MontserratBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MontserratBlack/MontserratBlack.woff") format("woff"),
    url("../fonts/MontserratBlack/MontserratBlack.ttf") format("truetype"),
    url("../fonts/MontserratBlack/MontserratBlack.svg#MontserratBlack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratSemiBold";
  src: url("../fonts/MontserratSemiBold/MontserratSemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MontserratSemiBold/MontserratSemiBold.woff") format("woff"),
    url("../fonts/MontserratSemiBold/MontserratSemiBold.ttf") format("truetype"),
    url("../fonts/MontserratSemiBold/MontserratSemiBold.svg#MontserratSemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratExtraBold";
  src: url("../fonts/MontserratExtraBold/MontserratExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MontserratExtraBold/MontserratExtraBold.woff") format("woff"),
    url("../fonts/MontserratExtraBold/MontserratExtraBold.ttf") format("truetype"),
    url("../fonts/MontserratExtraBold/MontserratExtraBold.svg#MontserratExtraBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MontserratExtraLight";
  src: url("../fonts/MontserratExtraLight/MontserratExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MontserratExtraLight/MontserratExtraLight.woff") format("woff"),
    url("../fonts/MontserratExtraLight/MontserratExtraLight.ttf") format("truetype"),
    url("../fonts/MontserratExtraLight/MontserratExtraLight.svg#MontserratExtraLight") format("svg");
  font-weight: normal;
  font-style: normal;
}