{% set page_title = 'Home' %}
{% extends "../components/base.twig" %}

{% block content %}
<main>
    {% include "../components/header.twig" %}
    <div class="wrap-home">
        <div class="section1">
            <div class="text-1">
                <h2 class="text-hidden">the rise of new cam ranh</h2>
                <img
                    data-aos="fade-up"
                    data-aos-delay="500"
                    data-aos-duration="1500"
                    src="./images/the-rise-of-new-cam-ranh.png"
                    alt="the rise of new cam ranh"
                >
            </div>
        </div>
        <div class="section2">
            {#
            <img class="bg-only-body" src="./images/bg-only-body.png" alt="bg">
            #}
            <img class="bg-only-body" src="./images/bg-1.png" alt="bg">
            <h3 class="text-coming-soon">
                <span data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1500">coming soon</span>
            </h3>
            <div class="text-4">
                <h2 class="text-hidden">vien kim cuong 800 cara</h2>
                <img
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    src="./images/vien-kim-cuong-800cara.png"
                    alt="vien kim cuong 800 cara"
                >
            </div>
        </div>
        <div class="section3">
            <img class="bg-img bg-only-body" src="./images/bg-2.jpg" alt="bg">
            <div class="text-5 text-right-side">
                <img class="text-right-side--dots" src="./images/dots-active-1.svg" alt="bg">
                <div class="text-right-side--wrap" data-aos="fade-left">
                    <h4 class="text-right-side--sub" data-aos="fade-left" data-aos-duration="1000">Trái tim sôi động của Cam Ranh với</h4>
                    <h4
                        class="text-right-side--title"
                        data-aos="fade-left"
                        data-aos-duration="1000"
                        data-aos-delay="300"
                    >38 đại tiện ích</h4>
                </div>
            </div>
            <img class="bg-img bg-only-body" src="./images/bg-3.jpg" alt="bg">
            <div class="text-6 text-right-side">
                <img class="text-right-side--dots" src="./images/dots-active-2.svg" alt="bg">
                <div class="text-right-side--wrap" data-aos="fade-left">
                    <h4 class="text-right-side--sub" data-aos="fade-left" data-aos-duration="1000">Vị trí chiến lược</h4>
                    <h4
                        class="text-right-side--title"
                        data-aos="fade-left"
                        data-aos-duration="1000"
                        data-aos-delay="300"
                    >liền kề sân bay</h4>
                </div>
            </div>
            <div class="text-7 text-right-side">
                <img class="text-right-side--dots" src="./images/dots-active-3.svg" alt="bg">
                <div class="text-right-side--wrap" data-aos="fade-left">
                    <h4 class="text-right-side--title" data-aos="fade-left" data-aos-duration="1000">Sở hữu 1/3</h4>
                    <h4
                        class="text-right-side--sub"
                        data-aos="fade-left"
                        data-aos-duration="1000"
                        data-aos-delay="300"
                    >đường bờ biển Bãi Dài</h4>
                </div>
            </div>
            <div class="text-8">
                <h2 class="text-hidden">nhung thi tran noi tren bo bien</h2>
                <img
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    src="./images/nhung-thi-tran-noi-tren-bo-bien.png"
                    alt="nhung thi tran noi tren bo bien"
                >
            </div>
            <div class="bottom">
                <div class="sliders" data-aos="fade-up" data-aos-duration="1000">
                    <img class="img" src="./images/image-2.jpeg" alt="bg">
                    <img class="img" src="./images/image-1.png" alt="bg">
                    <img class="img" src="./images/image-2.jpeg" alt="bg">
                    <img class="img" src="./images/image-1.png" alt="bg">
                </div>
                <div class="bottom-text">
                    <div
                        class="text left"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="300"
                    >
                        Bàn giao full
                        <small>nội thất</small>
                    </div>
                    <div
                        class="text right"
                        data-aos="fade-up"
                        data-aos-duration="1000"
                        data-aos-delay="300"
                    >
                        100% sản phẩm
                        <small>có hồ bơi tư gia</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
