{% set page_title = 'Home' %}
{% extends "../components/base.twig" %}

{% block content %}
<main>
    {% include "../components/header.twig" %}
    <div class="wrap-home">
        <div class="section1">
            <img src="./images/bg-top.jpeg" alt="">
            <img src="./images/the-rise-of-new-cam-ranh.png" alt="">
        </div>
        <img src="./images/bg-full.png" alt="">
    </div>
</main>
{% endblock %}
