{% set page_title = 'Home' %}
{% extends "../components/base.twig" %}

{% block content %}
<main>
    {% include "../components/header.twig" %}
    <div class="wrap-home">
        <div class="section1">
            <div class="text-1">
                <h2 class="text-hidden">the rise of new cam ranh</h2>
                <img
                    data-aos="fade-up"
                    data-aos-delay="500"
                    data-aos-duration="1500"
                    src="./images/the-rise-of-new-cam-ranh.png"
                    alt="the rise of new cam ranh"
                >
            </div>
        </div>
        <div class="section2">
            <img class="bg-only-body" src="./images/bg-1.png" alt="bg">
            <h3 class="text-coming-soon">
                <span data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1500">coming soon</span>
            </h3>
            <div class="text-4">
                <h2 class="text-hidden">vien kim cuong 800 cara</h2>
                <img
                    data-aos="fade-up"
                    data-aos-duration="1000"
                    src="./images/vien-kim-cuong-800cara.png"
                    alt="vien kim cuong 800 cara"
                >
            </div>
        </div>
    </div>
</div>
</main>
{% endblock %}
