{% set page_title = 'Home' %}
{% extends "../components/base.twig" %}

{% block content %}
<main>
    {% include "../components/header.twig" %}
    <div class="wrap-home">
        <div class="section1">
            <div class="text-1">
                <h2 class="text-hidden">the rise of new cam ranh</h2>
                <img
                    data-aos="fade-up"
                    data-aos-delay="500"
                    data-aos-duration="1500"
                    src="./images/the-rise-of-new-cam-ranh.png"
                    alt="the rise of new cam ranh"
                >
            </div>
            <div class="sun-spin">
                <div data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1500">
                    <img class="i-amphtml-fill-content i-amphtml-replaced-content" src="./images/sun-spin.jpg" alt="the rise of new cam ranh">
                </div>
            </div>
        </div>
        <div class="section2">
            <picture class="bg-only-body">
                <source media="(min-width:640px)" srcset="./images/bg-1.png">
                <img src="./images/bg-1-mobile.png" alt="bg">
            </picture>
            <h3 class="text-coming-soon">
                <span data-aos="fade-up" data-aos-delay="1500" data-aos-duration="2000">coming soon</span>
            </h3>
        </div>
    </div>
</div>
</main>
{% endblock %}
