{% set page_title = 'Test' %}
{% extends "../components/base.twig" %}

{% block content %}
{# <section class="blank">
	<h1>ScrollTrigger Bi-Directional Fake Horizontal
		Scroll
	</h1>
</section> #}

{# {% include "../components/horizontal-test.twig" %} #}
<section class="blank">
	    <svg class="svg-line" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 454 736"><defs><style>.cls-2{fill:none;stroke:#1483a3;stroke-linecap:round;stroke-linejoin:round}.cls-3{fill:#005a90;stroke-width:0}</style></defs><path d="M356.8 23.3h0" class="cls-2"></path><path class="line-run" d="M357.1 27.3c3.4 54.4-14.5 122.1-97 155.4-92.8 37.4-158.3 96.7-147.1 207.2 6 59.2 38 97.7 28.5 177.7-8.1 68-26.6 76.7-27.5 137.5" stroke="#1483a3" stroke-width="1" stroke-dasharray="0 0 0 4" stroke-dashoffset="29.300000000012005" stroke-linecap="round" stroke-linejoin="round" fill="none"></path><path d="M113.9 707h0" class="cls-2"></path><circle cx="356.8" cy="21.7" r="4.1" class="cls-3"></circle><circle cx="284.5" cy="170.9" r="4.1" class="cls-3"></circle><circle cx="148.7" cy="256.6" r="4.1" class="cls-3"></circle><circle cx="113.8" cy="390.5" r="4.1" class="cls-3"></circle><circle cx="144.3" cy="526.8" r="4.1" class="cls-3"></circle></svg>
</section>

<style>

</style>

{% endblock %}
