<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>{{page_title}}</title>
		<meta name="description" content="xxxxx">
		<meta name="keywords" content="xxxx">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta
		name="author" content="xxxxx">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="./libs/slick/slick.css">
		<link rel="stylesheet" href="./libs/slick/slick-theme.css">

	</head>

	<body>
		{% block content %}{% endblock %}
	</body>
	<script src="./libs/jquery-3.7.1.min.js"></script>
	<script src="./libs/slick/slick.min.js"></script>
	<script src="./libs/slick/modernizr.min.js"></script>

	<script src="./js/static.js"></script>

</html>
