<header>
    <a href="/" class="logo">
        <img
            data-aos="fade-up"
            data-aos-duration="1000"
            src="./images/logo.png"
            alt="Cara World"
        >
    </a>
</header>
