<div class="loading show">
    <img class="cloud cloud-1" src="./images/cloud-1.webp" alt="cloud">
    <img class="cloud cloud-2" src="./images/cloud-2.webp" alt="cloud">
    <img class="cloud cloud-3" src="./images/cloud-3.webp" alt="cloud">
    <img class="cloud cloud-4" src="./images/cloud-4.webp" alt="cloud">
</div>
